<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
    <h1 style="text-align: center;" class="sub-title">Destinos</h1>
    <div class="video-app">
        <div class="dark-light">
        </div>
        <div class="wrapper">
            <div class="main-container">
                <div class="videos">
                    <div class="video">
                        <video muted>
                            <source
                                src="/images/video1.mp4"
                                type="video/mp4">
                        </video>
                        <div class="video-content">Pachuca, Hidalgo</div>
                        <br> 
                    </div>
                    <div class="video">
                        <video muted>
                            <source
                                src="/images/video2.mp4"
                                type="video/mp4">
                        </video>
                        <div class="video-content">Chichén Itzá, Yucatán</div>
                    </div>
                    <div class="video">
                        <video muted>
                            <source
                                src="/images/video3.mp4"
                                type="video/mp4">
                        </video>
                        <div class="video-content">Peña de Vernal, Querétaro</div>
                    </div>
                    <div class="video">
                        <video muted>
                            <source
                                src="/images/video4.mp4"
                                type="video/mp4">
                        </video>
                        <div class="video-content">Tulum, Yucatán</div>
                    </div>
                    <div class="video">
                        <video muted>
                            <source
                                src="/images/video5.mp4"
                                type="video/mp4">
                        </video>
                        <div class="video-content">Playa del Carmen, Yucatán</div>
                    </div>
                    <div class="video">
                        <video muted>
                            <source
                                src="/images/video6.mp4"
                                type="video/mp4">
                        </video>
                        <div class="video-content">Ciudad de México, CDMX</div>
                    </div>
                    <div class="video">
                        <video muted>
                            <source
                                src="/images/video7.mp4"
                                type="video/mp4">
                        </video>
                        <a href="/unity">
                            <div class="video-content">San Miguel de Allende, Guanajuato</div>
                        </a>
                    </div>
                    <div class="video">
                        <video muted>
                            <source
                                src="/images/video8.mp4"
                                type="video/mp4">
                        </video>
                        <div class="video-content">Valle de Bravo, Ciudad de México</div>
                        <br>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('includes/footer.ejs') %>
    <script src="/js/destinos.js"></script>
</body>

</html>