<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<div class="row">
        <div class="col-md-6 offset-md-3">
            <img src="/images/logo.png" style="margin-top: 5%;">
            <br><br>
            <div id="about-us">
                <h2 class="sub-title">Sobre Nosotros</h2>
                <p class="paragraph">
                    Somos un grupo de estudiantes que buscan
                    mejorar la experiencia tuistica del país implementando la tecnología.
                </p>
            </div>
            <br><br>
            <div id="desc-proyect">
                <h2 class="sub-title">¿En que consiste nuestro proyecto?</h2>
                <p class="paragraph">
                    Paseos es una plataforma de realidad virtual que permite a los usuarios vivir
                    la experiencia de visitar los fantasticos lugares del país sin tener que
                    moverse de su hogar.
                    Nuestra intención es conectar a las personas con su país a través de
                    medios digitales.
                </p>
            </div>
            <br><br>
        </div>
    </div>
        <%- include('includes/footer.ejs') %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>