<nav>
    <div class="nav-wrapper">
        <a href="/menu/list" class="brand-logo center">Menú</a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/menu/add">Agregar Platillo</a></li>
            <li><a href="/users/login">Iniciar Sesión</a></li>
        </ul>
    </div>
</nav>