body{
    text-align: center;
    background-color: #faf8e8;
    font-family: 'Varela Round', sans-serif;
}

.sub-title{
    font-weight: bold;
    color: #F19C79;
    font-size: 30px;
    text-align: center;
}

.paragraph{
    font-size: 20px;
    text-align: justify;
}

.nav-wrapper{
    background-color: #8D86;    ;
    font-family: 'Varela Round', sans-serif;
}

span{
    vertical-align: middle;
}

.page-footer{
    background-color: #C59A7A;    ;
    font-family: 'Varela Round', sans-serif;
}

