<nav>
    <div class="nav-wrapper">
        <a href="/animalito/listaanimalito" class="brand-logo center">Animalitos</a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/animalito/agregaranimalito">Agregar Animalito</a></li>
        </ul>
    </div>
</nav>