    <footer class="page-footer">
        <div class="container">
            <a href="https://www.facebook.com/PaseosMx-107880974996776" target="_blank" style="color: white; vertical-align: middle; font-size:20px;">
                <span class="material-icons" style="font-size:70px;">
                    facebook
                </span>
                PaseosMx
            </a>
        </div>
        <br>
    </footer>