<nav>
<div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
            <a href="/inicio">
                <span class="material-icons">
                    home
                </span>
                Inicio
            </a>
        </li>
        <li>
            <a href="/destinos">
                <span class="material-icons">
                    explore
                </span>
                Destinos
            </a>
        </li>
        <li>
            <a href="/contacto">
                <span class="material-icons">
                    contact_page
                </span>
                Contacto
            </a>
        </li>
    </ul>
</div>
</nav>