
body{
    background-color: black;
    color: white;
}
#shop_cont{
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

#shop_title{
    text-align: center;
}

.product{
    width: 30%;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    text-align: center;
    border: 1px solid rgb(190, 187, 187);
    border-radius: 2%;
    padding: 5px;
}

.product:hover{
    border: 3px solid #4dc4cc;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #4dc4cc; 
    background-color: rgb(73, 69, 69);
}
.prod_image{
    width: 70%;
}

.prod_quant{
    width: 20%;
}

.shop{
    background-color: rgb(243, 131, 123);
    border: none;
    margin: 2%;
    border-radius: 7px;
    width: 30%;
    color: white;
}

#total{
    width: 30%; 
    margin-left: 19%;
    margin-right: 2%;
    margin-top: 30px;
    border: 1px solid rgb(190, 187, 187);
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 30px;
    font-size: 20px;
    display: inline-block;
}

#summary{
    width: 30%;
    margin-top: 30px;
    border: 1px solid rgb(190, 187, 187);
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 30px;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}

.disp{
    color:white;
    background-color: rgb(10, 148, 28);
    width: 30%;
    margin-left: 35%;
    border-radius: 20px;
    text-align: center;
}

#shop_title{
    font-size: 60px;
}

#summary_title{
    font-size: 20px;
    font-weight: bold;
}